@tailwind base;
@tailwind components;
@tailwind utilities;

.grecaptcha-badge {
    opacity: 0;
    visibility: hidden;
}


html,
body {

    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
      Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}